<section class="messages" id="messages">
    <div class="container">
        <h2><a href="#messages"># Messages</a></h2>



        <div class="messages__wrap">
            <div class="container__msg">
                <div class="messages__persons">
                    <ul class="messages__people">

                        {% for im in data %}

                                {% if im.participants|length > 2 %}

                                    <li class="messages__person" data-chat="{% for participant in im.participants %}{{ users[participant].username }}{% endfor %}">
                                        <img src="https://picsum.photos/200/200/?random" alt="Group" class="messages__person-avatar" />
                                        <div class="messages__person-text">
                                            <span class="messages__person-name">{% for participant in im.participants %} {{ users[participant].username }}{% if not loop.last %}, {% endif %} {% endfor %} @ Group</span>
                                            <span class="messages__preview">Secret</span>
                                        </div>

                                    </li>

                                {% else %}

                                    {% for participant in im.participants %}

                                        {% if users[participant].username != Profile.username %}
                                            <li class="messages__person" data-chat="{{ users[participant].username }}">
                                                <img src="{{ users[participant].profile_pic_url }}" alt="{{ users[participant].name }}" class="messages__person-avatar" />
                                                <div class="messages__person-text">
                                                    <span class="messages__person-name">{{ users[participant].name }} @{{ users[participant].username }}</span>
                                                    {#<span class="time">2:09 PM</span>#}
                                                    <span class="messages__preview">Secret</span>
                                                </div>
                                            </li>
                                        {% endif %}

                                    {% endfor %}

                                {% endif %}

                        {% endfor %}

                    </ul>
                </div>
                <div class="messages__chats">
                    <div class="messages__chat-top"><span><img src="{{ Profile.profile_pic_url }}" class="messages__chat-avatar"><span class="messages__chat-name">{% if Profile.name is empty %}@{{ Profile.username }} {% else %} {{ Profile.name }}{% endif %}</span></span></div>
                    <div class="message__chats-wrap">


                    {% for im in data %}
                    
                            {% if im.participants|length > 2 %}
                    <div class="chat" data-chat="{% for participant in im.participants %}{{ users[participant].username }}{% endfor %}">
                            {% else %}
                                  {% for participant in im.participants %}
                                    {% if users[participant].username != Profile.username %}
                                        <div class="chat" data-chat="{{ users[participant].username }}">
                                     {% endif %}
                                  {% endfor %}
                            {% endif %}

                            {% for message in im.conversation %}

                                        {#<div class="chat__date">#}
                                            {#{{ message.created_at|date("d/m/Y h:i") }}#}
                                        {#</div>#}

                                        <div class="message {% if message.sender != Profile.username %}message--to-me{% else %}message--from-me{% endif %}">
                                            <span class="message__time">{{ message.created_at|date("d/m/Y h:i") }}</span>
                                            {% if message.story_share %}
                                                {{ message.story_share }}
                                            {% endif %}

                                            {% if message.media %}
                                                <img class="message__image" src="{{ message.media }}">
                                            {% endif %}
                                            {% if message.text %}
                                                {{ message.text }}
                                            {% endif %}
                                        </div>
                            {% endfor %}

                    </div>
                    {% endfor %}
                    </div>
                    </div>
                </div>
            </div>
        </div>

        <script>
            {{ source('/js/messages.js') }}
        </script>

    </div>
</section>