<section class="messages" id="messages">
    <div class="container">
        <h2><a href="#messages"># Messages</a></h2>



        <div class="messages__wrap">
            <div class="container__msg">
                <div class="messages__persons">
                    <ul class="messages__people">

                        {% for im in data.dialogs %}

                                {% if im.participants|length > 2 %}

                                    <li class="messages__person" data-chat="{% for participant in im.participants %}{{ participant.username }}{% endfor %}">
                                        <img src="https://picsum.photos/200/200/?random" alt="Group" class="messages__person-avatar" />
                                        <div class="messages__person-text">
                                            <span class="messages__person-name">{% for participant in im.participants %} {{ participant.username }}{% if not loop.last %}, {% endif %} {% endfor %} @ Group</span>
                                            <span class="messages__preview">Secret</span>
                                        </div>

                                    </li>

                                {% else %}

                                    {% for participant in im.participants %}

                                        {% if participant.username != Profile.username %}
                                            <li class="messages__person" data-chat="{{ participant.username }}">
                                                <img src="{{ participant.profile_pic_url }}" alt="{{ participant.name }}" class="messages__person-avatar" />
                                                <div class="messages__person-text">
                                                    <span class="messages__person-name">{{ participant.name }} @{{ participant.username }}</span>
                                                    {#<span class="time">2:09 PM</span>#}
                                                    <span class="messages__preview">Secret</span>
                                                </div>
                                            </li>
                                        {% endif %}

                                    {% endfor %}

                                {% endif %}

                        {% endfor %}

                    </ul>
                </div>
                <div class="messages__chats">
                    <div class="messages__chat-top"><span><img src="{{ Profile.profile_pic_url }}" class="messages__chat-avatar"><span class="messages__chat-name">{% if Profile.name is empty %}@{{ Profile.username }} {% else %} {{ Profile.name }}{% endif %}</span></span></div>
                    <div class="message__chats-wrap">


                    {% for im in data.dialogs %}
                    
                            {% if im.participants|length > 2 %}
                    <div class="chat" data-chat="{% for participant in im.participants %}{{ participant.username }}{% endfor %}">
                            {% else %}
                                  {% for participant in im.participants %}
                                    {% if participant.username != Profile.username %}
                                        <div class="chat" data-chat="{{ participant.username }}">
                                     {% endif %}
                                  {% endfor %}
                            {% endif %}

                            {% for message in im.conversation %}

                                        {#<div class="chat__date">#}
                                            {#{{ message.created_at|date("d/m/Y h:i") }}#}
                                        {#</div>#}

                                        <div class="message {% if message.sender != Profile.username %}message--to-me{% else %}message--from-me{% endif %}">
                                            <span class="message__time">{{ message.created_at|date("d/m/Y h:i") }}</span>
                                            {% if message.story_share %}
                                                {{ message.story_share }}
                                            {% endif %}

                                            {% if message.media %}
                                                <img class="message__image" src="{{ message.media }}">
                                            {% endif %}
                                            {% if message.text %}
                                                {{ message.text }}
                                            {% endif %}
                                        </div>
                            {% endfor %}

                    </div>
                    {% endfor %}
                    </div>
                    </div>
                </div>
            </div>
        </div>

        <script>
            document.querySelector('.messages__chats .chat').classList.add('chat--active');
            document.querySelector('.messages__person:first-of-type').classList.add('messages__person--active');

            document.addEventListener('DOMContentLoaded', () => {
                console.log('loaded');
                let containerHeight = document.querySelector('.messages__people').offsetHeight;

                console.log(containerHeight);

                document.querySelector('.messages__chats').style.maxHeight = containerHeight + 'px';
                document.querySelector('.message__chats-wrap').style.maxHeight = (containerHeight - 69) + 'px';
            })



            let friends = {
                    list: document.querySelector('ul.messages__people'),
                    all: document.querySelectorAll('.messages__people .messages__person'),
                    avatar: '',
                    name: '@nekaravaev'
                },
                chat = {
                    container__msg: document.querySelector('.container__msg .messages__chats'),
                    current: null,
                    person: null,
                    name: document.querySelector('.container__msg .messages__chats .messages__chat-top .messages__chat-name'),
                    avatar: document.querySelector('.messages__chat-avatar')
                }

            friends.all.forEach(f => {
                f.addEventListener('click', () => {
                    f.classList.contains('messages__person--active') || setAciveChat(f)
                })
            });

            function setAciveChat(f) {
                console.log(f);
                friends.list.querySelector('.messages__person--active').classList.remove('messages__person--active')
                f.classList.add('messages__person--active')
                chat.current = chat.container__msg.querySelector('.chat--active')
                chat.messages__person = f.getAttribute('data-chat')
                chat.current.classList.remove('chat--active')
                chat.container__msg.querySelector('[data-chat="' + chat.messages__person + '"]').classList.add('chat--active')
                friends.name = f.querySelector('.messages__person-name').innerText
                friends.avatar = f.querySelector('.messages__person-avatar').getAttribute('src');
                chat.avatar.setAttribute('src', friends.avatar);
                chat.name.innerHTML = friends.name;
            }
        </script>

    </div>
</section>